/* transição suave */
.transition{transition: 0.5s;}

/* cores */
.bg-gray   { background-color: #6B7280; }
.bg-red    { background-color: #EF4444; }
.bg-yellow { background-color: #F59E0B; }
.bg-green  { background-color: #10B981; }
.bg-blue   { background-color: #3B82F6; }
.bg-indigo { background-color: #6366F1; }
.bg-purple { background-color: #8B5CF6; }
.bg-pink   { background-color: #EC4899; }

/* flex */
.flex{display: flex;}

.flex-0{flex: 0;}
.flex-1{flex: 1;}
.flex-2{flex: 2;}
.flex-3{flex: 3;}
.flex-4{flex: 4;}
.flex-5{flex: 5;}
.flex-6{flex: 6;}
.flex-7{flex: 7;}
.flex-8{flex: 8;}
.flex-9{flex: 9;}
.flex-10{flex: 10;}

.justify-center{justify-content: center;}
.items-center{align-items: center;}



/* esconder */
.overflow-hidden{overflow: hidden;}

/* sombra */
.shadow{box-shadow: 0px 0px 5px #00000077;}

/* quadrados */
.square-100{width: 150px; height: 100px;}
.square-200{width: 300px; height: 200px;}
.square-300{width: 450px; height: 300px;}
.square-400{width: 600px; height: 400px;}
.square-500{width: 750px; height: 500px;}
.square-600{width: 900px; height: 600px;}
.square-700{width: 1050px; height: 700px;}
.square-full{width: 100%; height: 100%;}

/* tamanhos */
.w-10{width: 10;}
.w-20{width: 10;}
.w-30{width: 30;}
.w-40{width: 40;}
.w-50{width: 50;}

.w-full{width: 100%;}
.h-full{height: 100%;}

/* centro */
.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ajuste de imagem no centro */
.cover{object-fit: cover}